{
  "env": {
    "jest": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "import",
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "indent": ["error", 2],
    "semi": ["error", "always"]
  },
  "globals": {
    "File": "readonly",
    "FileReader": "readonly",
    "window": "readonly",
    "localStorage": "readonly"
  } 
}